body{
    background-color: wheat;
    background-image: url("Hacker 1.jpg");
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: right bottom;
}
h1{
    text-align: center;
    font-size: 24px;
    font-style: italic;
    max-width: 500px;
    border-bottom: 3px solid blueviolet;
    border-radius: 500px;
    margin: auto;
}
#main2{
    color: #472e4a;
    background-color: #ffffff;
    opacity: 1;
    border-style: unset;
    border-width: 1px;
    border: 1px unset black;
}
#main{
list-style: none;
padding: 0;
}
#main li a{
    text-decoration: none;
    background-color: blueviolet;
    color: white;
    text-align: center;
    display: block;
    width: 220px;
    border-radius: 25px 0px 25px 0px;
    padding: 25px;
    margin:20px
}